name: Helm Docs

on:
  push:
    branches:
      - main
    paths:
      - 'charts/**'

permissions:
  contents: write

jobs:
  helm-docs:
    runs-on: ubuntu-latest
    outputs:
      docs-updated: ${{ steps.generate.outputs.docs-updated }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1

      - name: Generate Helm Docs
        id: generate
        run: |
          echo "Running helm-docs generation..."
          ./.github/hack/gen-docs.sh
          
          # Check for both modified and untracked files
          git add charts/**/README.md
          if [[ $(git diff --staged --stat) != '' ]] || [[ $(git status --porcelain | grep "README.md") != '' ]]; then
            echo "docs-updated=true" >> $GITHUB_OUTPUT
            echo -e '\033[0;33mDocumentation needs to be updated.\033[0m'
            git status --porcelain | grep "README.md" || true
            git diff --staged --name-only
          else
            echo "docs-updated=false" >> $GITHUB_OUTPUT
            echo -e '\033[0;32mDocumentation is up to date.\033[0m'
          fi

      - name: Configure Git
        if: steps.generate.outputs.docs-updated == 'true'
        run: |
          git config --local user.email "duynebot@users.noreply.github.com"
          git config --local user.name "duynebot"

      - name: Commit and Push changes
        if: steps.generate.outputs.docs-updated == 'true'
        run: |
          git add charts/**/README.md
          git commit -m "chore: update helm documentation [skip ci]"
          git push
